.header {
    /* Your header styles here */
}

.main {
    /* Your main styles here */
}

#filter-button-container {
    text-align: right;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
}

#filter-button {
    background-color: #2ca440;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.filter-popup {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 0;
}

.filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-title {
    font-weight: bold;
    margin-right: 10px
}

.align-item-center {
    align-items: center;
    text-align: center;

}

.flex-container {
    display: inline-flex;
    justify-content: end;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

.padding-right {
    padding-right: 20px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-top-first-card {
    padding-top: 15px;
}

.card_filter {
    display: flex;
    position: relative;
    border: 1px solid darkgray;
    background-color: rgb(181, 181, 181);
    margin-top: 2px;
    padding: 10px;
    flex-direction: column;
    border-radius: 1rem;
}

#filter-button:hover {
    background-color: rgb(29, 121, 78);
}