* {
    box-sizing: border-box;
}

.header {
    background-color: black;
}

#charity-cards {
    display: flexbox;
    align-items: center;
    justify-content: center;

}

.card-body {
    display:
}