

.btn {
    background-color: rgb(181, 181, 181);
    border: none;
}

.charity_card {
    display: flex;
    justify-content: center;
}

.btn-outline-light {
    background-color: rgb(30, 171, 105);
}

.navbar {
    background-color: rgb(231, 231, 231);
}

.bg-info {
    background-color: #2ca440 !important;     /* some secondary colour */
}

a {
    text-decoration: none;
    color: black;
}

/* Style the filter button */
#filter-button {
    background-color: #2ca440;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style the filtered items container */
#filtered-items {
    margin-top: 20px;
}


.btn:hover {
    cursor: pointer;
}