.map_margin {
    margin-top: 69.5px;
    margin-bottom: 0px;
}

.header {
    /* Your header styles here */
}

.main {
    /* Your main styles here */
}

#filter-button-container {
    text-align: right;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
}

#filter-button {
    background-color: #2ca440;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.filter-popup {
    display: none;
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 0;
    /* width: 50%; */
}

.center-filter {
    width: 50%;
    /* height: 200px; */
    position: fixed;
    /* background-color: blue; */
    top: 70px;
    left: 25%;
    right: 25%;
    /* margin-top: -100px;
    margin-left: -100px; */
}

.filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-title {
    font-weight: bold;
    margin-right: 10px
}

.align-item-center {
    align-items: center;
    text-align: center;

}

.flex-container {
    display: inline-flex;
    justify-content: end;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

/* Change Position of filter button */
.padding-right { 
    padding-right: 70px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-top-first-card {
    padding-top: 15px;
}

.padding-top-bot {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card_filter {
    display: flex;
    position: relative;
    border: 1px solid darkgray;
    background-color: rgb(181, 181, 181);
    margin-top: 2px;
    padding: 10px;
    flex-direction: column;
    border-radius: 1rem;
}

#filter-button:hover {
    background-color: rgb(29, 121, 78);
}

.z-index-filter-box {
    z-index: 1;
    transform: translateX(50px, 50px);
}

.padding-top {
    padding-top: 2px;
}

.margin-filter {
    margin-top: 70px;
    translate: 20px;
}

.mapboxgl-ctrl {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}