.top_comment {
  font-weight: bold;
  text-align: center;
  margin: 0 20px 20px 20px;
  padding: 15px 5px 15px 5px;
  border-radius: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.donation-amounts {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  justify-content: space-between;
}

.donation-amounts button,
.donation-amounts input {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.donation-amounts input {
  flex-grow: 1;
  margin-right: 0;
  background-color: #fff;
}

.donation-amounts input::placeholder {
  color: #999;
}

.donation-amount-input {
  margin-top: 10px;
}

.btn-equal-width {
  width: 100%;
  margin-top: 10px;
}
