.btn {
  background-color: rgb(219, 219, 219);
  border: none;
}

.button {
    background-color: white;
    color: green;
    border: solid 1px green;
}

.btn-outline-light {
  background-color: rgb(30, 171, 105);
}

.navbar {
  background-color: rgb(231, 231, 231);
}

.bg-info {
  background-color: #2ca440 !important; /* some secondary colour */
}

a {
  text-decoration: none;
  color: black;
}

/* Style the filter button */
#filter-button {
  background-color: #2ca440;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the filtered items container */
#filtered-items {
  margin-top: 20px;
}

.btn:hover {
  cursor: pointer;
}

b {
  margin-left: 12px;
}

form {
  position: relative;
}
.search-bar input {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 25px;
  padding: 8px 30px 8px 30px;
  text-align: left;
}

.search-bar button {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 50%;
  top: 0;
  right: 5%;
  width: auto;
  height: 100%;
  border-radius: 50%;
  font-size: 18px;
}

/* button {
    color:rgb(30, 171, 105);
} */

a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  b {
    display: none;
  }
}
