input {
  width: 100%;
}

.row input {
  margin-left: 10px;
}

.row i {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

h6 {
  font-weight: bolder;
  font-size: 0.9rem;
  margin-left: 50px;
  margin-bottom: 0px;
}
