input {
  width: 100%;
}

.row input {
  margin-left: 10px;
}

.row i {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

h6 {
  font-weight: bolder;
  font-size: 0.9rem;
  margin-left: 50px;
  margin-bottom: 0px;
}

a {
  color: black;
  font-size: small;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

h2 {
  border-bottom: solid 1px black;
}

.modal {
  padding: 1em;
  max-width: 50ch;
  max-height: 30ch;
}

.close-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  color: white;
  background-color: rgb(27, 158, 75);
  border: solid 1px black;
  border-radius: 5px;
}

.open-button {
  color: white;
  background-color: rgb(27, 158, 75);
  border: solid 1px black;
  border-radius: 5px;
}